body {
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.links {
    font-size: 14px;
    color: #0069ff;
    font-weight: bold;
}

.links:hover {
    color: #1633ff;
    text-decoration: none;
}

.links> :only-child {
    font-size: 11px;
    margin-left: 5px;
}
.bg_secondary{
    background-color: #F3F5F9;
}

h2{
    font-weight: bold;
    text-align: center;
}


/* Header */
#logo>a>img {
    width: 200px;
    vertical-align: middle;
}

.top_header {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
}

.top_header nav {
    padding-top: 5px;
}

.top_header a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    vertical-align: bottom;
}

.top_header a>i {
    font-size: 10px;

}

/* Hamburger Menu */
#hamburger_menu i {
    color: #006aff;
    font-size: 20px;
    line-height: 80px;
}

/* /Hamburger Menu */

/* Sign Up Button */
#sign_up {
    line-height: 35px;
    padding: 0 10px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: transparent;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
}

#sign_up:hover {
    background-color: #006aff;
    color: #fff;
    transition: color, background-color 1s;
}

/* /Sign Up Button */


/* Hero */
#hero {
    background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 10px;
    color: #fff;
    min-height: 70vh;
}

#left_hero {
    color: #fff
}

#left_hero>h1 {
    font-size: 50px;
    font-weight: bold;
    max-width: 90%;
}

#left_hero>p {
    font-size: 20px;
}

#right_hero {
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    padding: 25px 20px;
    margin-top: 50px;
}

#right_hero h2 {
    width: 85%;
    margin: 10px auto;
    line-height: 40px;
}

#right_hero p {
    font-weight: 500;
}

#create_account {
    background-color: #579AFF;
    color: #fff;
    width: 100%;
    margin-bottom: 12px;
    font-weight: 500;
}

#sign_form {
    background-image: url("../img/google-icon.png");
    background-position: 3% center;
    background-size: 6%;
    box-shadow: 0px 1px 1px 1px rgba(211, 211, 211, .3);
    background-repeat: no-repeat;
    font-weight: 500;
    margin-bottom: 10px;
}
/* /Hero */

/* /Header */



/* customers section */

#customers {
    padding: 30px 10px;
}
#customers h3 {
    font-size: 16px;
    color: #5b6987;
}
#customers li img {
    width: 100%;
    height: 150px;
}
/* /Customers section */


/* Services section */
#services h2 + p{
    font-weight: 500;
    font-size: 20px;
    color: #5b6987;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 0 80px;
}

#services ul > li{
    border: none;
    margin: 0;
    padding:0;
}
#services ul > li > button{
    text-decoration: none;
    color: #5b6987;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
    border-left: 1px solid #5b6987;
    padding: 15px 20px;
}
#services li > button:focus{
    border-left: #006aff 2px solid;
}

.card{
    padding: 0px 20px;
}
.card h4{
    font-weight: bold;
    padding: 10px 0;
}
.card p{
    color: #5b6987;
    font-weight: 500;
    width: 100%;
    margin-bottom: 30px;
}
/* /Services section */


/* Developers Section */
#developers{
    padding: 50px;
}

#developers img{
    margin-top: 60px;
    width: 60%;
}
#developers p{
    color: #5b6987;
    font-weight: 500;
    font-size: 20px;
}
.carousel div:first-child,.carousel div:last-child{
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px;
    font-size: 45px;
    margin-top: 100px;
}
.carousel div:first-child{
    color: #5b6987;
}
.text_carousel li{
    padding: 0;
    margin: 0;
}
.text_carousel i{
    color:#006aff;
    padding: 3px
}
.text_carousel h4{
    margin-top: 20px;
}
/* /Developers Section */

/* Features section */
#features{
    padding-bottom: 100px;
}
#features h2{
    margin: 60px;
}
#features p{
    margin-bottom: 10px;
}
/* /Features section */

/* Regions section */
#regions{
    background-color: #031b4e;
    background-image: url("../img/bg-map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
    padding-top: 50px;
}
#regions h2{
    color: #fff;
    margin-top: 70px;
    margin-bottom: 30px;
}
#regions ul{
    padding: 0px 30px;
    margin-bottom: 30px;
}
#regions li{
    color: #5b6987;
    text-align: left;
    margin-top: 20px;
}
#regions li:not(li:last-child){
    border-bottom: 1px solid #fff;
}
#regions li span{
    color: #fff;
}
#regions a::before{
    content: "Test speed"
}
#regions a{
    color: #00d7d2;
    font-weight: normal;
    text-align: right;
    
}
#regions i{
padding-left: 5px;
}
/* /Regions section */

/* RESPONSIVE */

/* Desktop */
@media screen and (max-width:1200px) {}

/* Tablet */
@media screen and (max-width:768px) {}

/* Smartphone */
@media screen and (max-width:767px) {}